p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h3 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
p {
  font-size: 1.2rem;
}
.d-flex {
  display: flex;
}

.forecast-app-container,
.left-header,
.tab-container,
.weekly-sum,
.tab-underlines,
.dropdown > span {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.forecast-app-container,
.left-column,
.right-column {
  min-height: 100vh;
  box-sizing: border-box;
}

.forecast-app-container {
  background-color: #282c34;
  font-size: 2rem;
  color: white;
  background: url("./images/3225176.jpg");
  background-size: cover;
}

.left-column {
  width: 60%;
  padding: 4rem 4rem 1rem 4rem;
  position: relative;
}

.right-column {
  width: 40%;
  flex-direction: column;
  justify-content: flex-start;
}
.left-header,
.tab-underlines,
.graph-section .header,
.graph-section > div,
.graph-container {
  width: 100%;
}
.forecast-content {
  width: calc(100% - 4rem);
  height: 50%;
  position: absolute;
  bottom: 0;
}
.forecast-content .material-icons {
  font-size: 6rem;
}
.temp-info {
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.temp-info span {
  margin-right: 2rem;
}
.temp-info p {
  font-size: 10rem;
  line-height: 10rem;
}
.forecast-content > p:first-of-type {
  font-size: 5rem;
}
.right-column .header-container,
.right-column .graph-section,
.right-column .weekly-sum,
.dropdown-content {
  background-color: #0000004a;
}

.right-column .header-container {
  margin-bottom: 2px;
  padding: 4rem 2rem 0.5rem 2rem;
}

.right-column .header-container p {
  margin-bottom: 3rem;
}

.right-column .header-container .tab-container span {
  font-size: 1rem;
  width: calc((100% - 4rem) / 3);
  text-align: center;
  cursor: pointer;
}

.right-column .header-container .tab-container span:hover,
.right-column .header-container .tab-container span.active {
  font-weight: 600;
}

.graph-section {
  padding: 3rem 0;
  margin-bottom: 2px;
  box-sizing: border-box;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.graph-section .header {
  font-size: 1rem;
  padding: 0 2rem;
  align-items: flex-start;
  margin-bottom: 1rem;
  box-sizing: border-box;
  flex-direction: column;
}

.header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
.header > div > span {
  margin-right: 1rem;
}

.graph-container {
  box-sizing: border-box;
  padding: 0 2rem;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 20rem;
}
.weekly-sum {
  font-size: 0.7rem;

  padding: 2rem 2rem 3rem;
}
.day-info {
  flex-direction: column;
  align-items: center;
}

.dropdown,
.dropdown-content .menu-item {
  cursor: pointer;
}
.dropdown {
  position: relative;
}
.dropdown-content {
  position: absolute;
  left: -6rem;
  top: 2rem;
  width: 16rem;
  display: none;
  z-index: 1;
  border-radius: 3px;
  font-size: 1.5rem;
}
.dropdown-content .menu-item {
  padding: 0.5rem 2rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content div {
  display: block;
}

.dropdown-content div:hover {
  background-color: #00000070;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-height: 1040px) {
  .header h4 {
    margin-bottom: 1rem;
  }
  .graph-container {
    max-height: 15rem;
  }
}

@media (min-height: 1040px) {
  .graph-section {
    justify-content: space-around;
  }
  .day-info {
    font-size: 1.2rem;
  }
  h3 {
    margin-bottom: 1rem;
  }
  .forecast-content p {
    margin-bottom: 1rem;
  }
}

.tab-underlines {
  height: 2px;
  margin-top: -2px;
  padding: 0 2rem;
  box-sizing: border-box;
}
.tab-underlines > div {
  width: calc((100% - 4rem) / 3);
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
}

.tab-underlines > div.active {
  background-color: white;
}

.dropdown > span {
  font-size: 1.5rem;
}
.dropdown span span {
  margin-left: 1rem;
}

.graph-box {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
